<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
</head>
<body>
    <div class="jjunpro_etc">
        <h1 class="tit_service">JJunpro</h1>
        <p class="desc_etc">
            <strong class="txt_etc">페이지를 찾을 수 없습니다</strong>
        </p>
        <a href="#none" onclick="javascript:history.go(-1);" class="btn_reset">뒤로 돌아가기</a>
    </div>
</body>
</html>